  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/home.css">
      <title>Discover | Guatemala</title>
  </head>
  <body class="d-flex flex-column text-center text-white bg-dark">
    <div class="p-3 mx-auto w-100">
        <nav class="navbar navbar-expand-lg navbar-dark mb-auto mx-2">
            <div class="d-flex container-fluid">
                <div class="justify-content-start">
                    <h3 class="float-start ms-2 mb-0">Discover <span style="color: #00ACEE">Guatemala</span></h3>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"              data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav flex-column pl-5">
                        <div class="d-flex flex-row justify-content-center">
                            <a href="/" class="nav-link"            aria-current="page">Home</a>
                            <a href="/campgrounds" class="nav-link">Lodging</a>
                            <% if(!currentUser) { %>
                                <div class="d-flex justify-content-end">
                                    <a href="/login" class="nav-link">Login</a>
                                    <a href="/register" class="nav-link">Register</a>
                                    <% } else { %> 
                                    <a href="/logout" class="nav-link">Logout</a>
                                </div> 
                            <% } %> 
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <main class="px-3 mt-auto">
            <h1>Discover <span style="color: #00ACEE">Guatemala</span>,</h1>
            <p class="lead"><br>Visit the lush jungles of Tikal or experience the bustling sunday markets in Chichicastenango. Take a walk through the colonial streets of Antigua, or take a boat ride around Lake Atitlan, or maybe climb a volcano or two. <br> Whatever you choose, a world of new tastes, sounds and sights awaits you.</p>
            <a href="/campgrounds" class="btn btn-lg btn-secondary font-weight-bold text-white" style="background-color: #00ACEE;">Search lodging</a>
        </main>    
    </div>  
    <footer class="mb-5 mt-auto text-white-50">&copy; powered by micochango</footer>
    <!-- <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">Discover | Guatemala</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a href="#" class="nav-link active" aria-current="page">Home</a>
                <a href="/campgrounds" class="nav-link">Lodging</a>
                <% if(!currentUser) { %> 
                <a href="/login" class="nav-link">Login</a>
                <a href="/register" class="nav-link">Register</a>
                <% } else { %> 
                <a href="/logout" class="nav-link">Logout</a>
                <% } %> 
            </nav>
        </div>
    </header> -->

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min. js"  integrity="sha384-eMNCOe7tC1doHpGoWe6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"  integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"crossorigin="anonymous"></script>
  </body>
  </html>
