
body {
    height: 100vh;
    background-image:  
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.7)),
    url("https://images.unsplash.com/photo-1566625047926-45018b14ec0b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2468&q=80");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0,0,0,0.5);
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.5);
}


.cover-container {
    max-width: 60vw;
}

.nav-link {
    margin-left: 1rem;
    padding: 0.25rem 0;
    /* font-weight: 700; */
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 0.25rem solid transparent;
}


.nav-link:hover {
    color:rgba(252, 250, 250, 0.9);
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.lead {
    text-align: justify-all;
    
}

.btn-secondary, .btn-secondary:hover {
    color: #444;
    text-shadow: none;
}

.nav-link.active {
    color: #fff;
    border-bottom-color: #fff;
}

